<pre>
{
    "author": [
        {
            "name": "Google Books Search", 
            "uri": "http://www.google.com"
        }
    ], 
    "category": [
        {
            "scheme": "http://schemas.google.com/g/2005#kind", 
            "term": "http://schemas.google.com/books/2008#volume"
        }
    ], 
    "entry": [
        {
            "category": [
                {
                    "scheme": "http://schemas.google.com/g/2005#kind", 
                    "term": "http://schemas.google.com/books/2008#volume"
                }
            ], 
            "dc:creator": "çÇã¥ìoéjòN", 
            "dc:date": "2006-10", 
            "dc:format": [
                "433 pages", 
                "book"
            ], 
            "dc:identifier": [
                "zGMfNwAACAAJ", 
                "ISBN:4797336242", 
                "ISBN:9784797336245"
            ], 
            "dc:language": "ja", 
            "dc:title": "ì¸ñÂAjax", 
            "gbs:contentVersion": "preview-1.0.0", 
            "gbs:embeddability": [
                {
                    "value": "http://schemas.google.com/books/2008#not_embeddable"
                }
            ], 
            "gbs:openAccess": [
                {
                    "value": "http://schemas.google.com/books/2008#disabled"
                }
            ], 
            "gbs:viewability": [
                {
                    "value": "http://schemas.google.com/books/2008#view_no_pages"
                }
            ], 
            "id": "http://www.google.com/books/feeds/volumes/zGMfNwAACAAJ", 
            "link": [
                {
                    "href": "http://bks6.books.google.com/books?id=zGMfNwAACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_gdata", 
                    "rel": "http://schemas.google.com/books/2008/thumbnail", 
                    "type": "image/x-unknown"
                }, 
                {
                    "href": "http://books.google.com/books?id=zGMfNwAACAAJ&dq=ajax&ie=ISO-8859-1&source=gbs_gdata", 
                    "rel": "http://schemas.google.com/books/2008/info", 
                    "type": "text/html"
                }, 
                {
                    "href": "http://books.google.com/books?id=zGMfNwAACAAJ&dq=ajax&ie=ISO-8859-1&cd=1&source=gbs_gdata", 
                    "rel": "http://schemas.google.com/books/2008/preview", 
                    "type": "text/html"
                }, 
                {
                    "href": "http://www.google.com/books/feeds/users/me/volumes", 
                    "rel": "http://schemas.google.com/books/2008/annotation", 
                    "type": "application/atom+xml"
                }, 
                {
                    "href": "http://books.google.com/books?id=zGMfNwAACAAJ&dq=ajax&ie=ISO-8859-1", 
                    "rel": "alternate", 
                    "type": "text/html"
                }, 
                {
                    "href": "http://www.google.com/books/feeds/volumes/zGMfNwAACAAJ", 
                    "rel": "self", 
                    "type": "application/atom+xml"
                }
            ], 
            "title": [
                {
                    "content": "ì¸ñÂAjax", 
                    "type": "text"
                }
            ], 
            "updated": "2011-11-19T12:04:06.000Z"
        }
    ], 
    "generator": {
        "content": "Google Book Search data API", 
        "version": "beta"
    }, 
    "id": "http://www.google.com/books/feeds/volumes", 
    "link": [
        {
            "href": "http://www.google.com", 
            "rel": "alternate", 
            "type": "text/html"
        }, 
        {
            "href": "http://www.google.com/books/feeds/volumes", 
            "rel": "http://schemas.google.com/g/2005#feed", 
            "type": "application/atom+xml"
        }, 
        {
            "href": "http://www.google.com/books/feeds/volumes?q=ajax&start-index=1&max-results=1&lr=ja", 
            "rel": "self", 
            "type": "application/atom+xml"
        }, 
        {
            "href": "http://www.google.com/books/feeds/volumes?q=ajax&start-index=2&max-results=1&lr=ja", 
            "rel": "next", 
            "type": "application/atom+xml"
        }
    ], 
    "openSearch:itemsPerPage": [
        "1"
    ], 
    "openSearch:startIndex": [
        "1"
    ], 
    "openSearch:totalResults": [
        "101"
    ], 
    "title": [
        {
            "content": "Search results for ajax", 
            "type": "text"
        }
    ], 
    "updated": "2011-11-19T12:04:06.000Z", 
    "xmlns": "http://www.w3.org/2005/Atom", 
    "xmlns:batch": "http://schemas.google.com/gdata/batch", 
    "xmlns:dc": "http://purl.org/dc/terms", 
    "xmlns:gbs": "http://schemas.google.com/books/2008", 
    "xmlns:gd": "http://schemas.google.com/g/2005", 
    "xmlns:openSearch": "http://a9.com/-/spec/opensearchrss/1.0/"
}
</pre>
